$primary : #d65555;
$white   : #FFFFFF;
$black   : #3a3838;
$transparentBlack : rgba(0,0,0,0.1);
$transparentWhite : rgba(255,255,255,0.4);
$darkRed : #c15353;
$darkYellow: #c1a553;
$clearYellow: #fffef4;
$lightGray: #e8e8e8;
$gray: #c9c9c9;
$lightBlack: #7a7979;