/* EXPERIENCE */
section.experience{
    background: $clearYellow;
    border-bottom: 2px solid transparent;
    .container{
        .row:first-child{
            border-bottom: 1px solid $darkYellow;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .row{
            div:first-child{  
                h1{
                    font-size: 18px;
                    font-weight: normal;
                    font-family: 'Open Sans', sans-serif;
                    color: $primary;
                }
                h3{
                    font-size: 18px;
                    font-weight: normal;
                    font-family: 'Open Sans', sans-serif;
                    color: $primary;
                }
                p{
                    font-size: 14px;
                    font-weight: lighter;
                    font-family: 'Open Sans', sans-serif;
                    color: $lightBlack;
                    text-justify: auto;
                } 
            }
            div:nth-child(2){
                h3{
                    font-size: 18px;
                    font-weight: normal;
                    font-family: 'Open Sans', sans-serif;
                    color: $black;
                }
                p{
                    font-size: 14px;
                    font-weight: lighter;
                    font-family: 'Open Sans', sans-serif;
                    color: $lightBlack;
                    text-justify: auto;
                    text-align: center;
                }
            }
        }
    }
}