/* SHOWCASE */
section.showcase{
	background: url('../img/web-min.jpg') no-repeat center center;
	background-size: 100% 100%;
	min-height: 600px;
	padding-top:63px;
	border-bottom: 2px solid transparent;
	.container{
		.row:first-child{
			.showcase-title{
				background: rgba(0,0,0,0.5);
				color: $white;
				border-radius: 90px;
				margin-top:50px;
				padding-top:15px;
				h3{
					color: $primary;
					padding:0px;
					margin:0px;
				}
			}
		}
		.row:nth-child(2){
			padding-top:50px;
			.showcase-image{
				margin-bottom: 20px;
				div{
					background: rgba(255,255,255,0.6);
					border-radius: 100%;
					margin:0 auto;
					width:300px;
					height:300px;
					padding:5px;
					img.profile-image{
						width: 300px;
						height: 300px;
						border-radius: 100%;
					}
				}	
			}
			.showcase-details{
				background: rgba(255,255,255,0.6);
				border-radius:5px;
				padding:15px;
				h3{
					color: $primary;
					padding:0;
					margin:0;
				}
				ul{
					padding:0;
					margin:0;
					li{
						color: $black;
						list-style:none;
						padding: 3px 0px;
						margin:0;
						text-align: left;
						p{
							padding:0;
							margin:0;
							text-align: justify;
						}
					}
				}
			}
		}
	}
}